

.container {
    text-align: center;
    width: 400px;
}

.container .title {
    margin-top: 50;
}


ul
{
    list-style-type: none;
}

li {
    padding: 5px;
}

.saved_conatiner li {
    text-align: left;
}
.add_conatiner li {
    text-align: right;
}